<section class="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-menu">
            <li class="catalog-list">
                <picture class="catalog-img">
                    <source media="(max-width: 1280px)" srcset="/img/clock1-desk.png 1x, ./img/clock1-desk@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="/img/clock1-tab.png 1x, 
                                                                /img/clock1-tab@2x.png 2x">
                    <source media="(max-width: 375px)" srcset="/img/clock1-mob.png 1x, 
                                                                /img/clock1-mob@2x.png 2x">
                    <img class="portfolio-img" src="/img/clock1-desk.png" alt="Banking App">
                </picture>
                <div class="catalog-box">
                    <h3 class="catalog-name ellipsis">Garmin Fenix 7X Pro Sapphire Solar</h3>
                    <p class="catalog-price">€500</p>
                </div>
            </li>
            <li class="catalog-list">
                <picture class="catalog-img">
                    <source media="(max-width: 1280px)" srcset="/img/clock2-desk.png 1x,
                                                                /img/clock2-desk@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="/img/clock2-tab.png 1x, 
                                                                /img/clock2-tab@2x.png 2x">
                    <source media="(max-width: 375px)" srcset="/img/clock2-mob.png 1x, 
                                                                /img/clock2-mob@2x.png 2x">
                    <img class="portfolio-img" src="/img/clock2-desk.png" alt="Banking App">
                </picture>
                <div class="catalog-box">
                    <h3 class="catalog-name ellipsis">Garmin Marq Athlete</h3>
                    <p class="catalog-price">€450</p>
                </div>
            </li>
            <li class="catalog-list">
                <picture class="catalog-img">
                    <source media="(max-width: 1280px)" srcset="/img/clock3-desk.png 1x,
                                                                /img/clock3-desk@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="/img/clock3-tab.png 1x, 
                                                                /img/clock3-tab@2x.png 2x">
                    <source media="(max-width: 375px)" srcset="/img/clock3-mob.png 1x, 
                                                                /img/clock3-mob@2x.png 2x">
                    <img class="portfolio-img" src="/img/clock3-desk.png" alt="Banking App">
                </picture>
                <div class="catalog-box">
                    <h3 class="catalog-name ellipsis">Garmin Descent MK1</h3>
                    <p class="catalog-price">€680</p>
                </div>
            </li>
            <li class="catalog-list">
                <picture class="catalog-img">
                    <source media="(max-width: 1280px)" srcset="/img/clock4-desk.png 1x,
                                                                /img/clock4-desk@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="/img/clock4-tab.png 1x, 
                                                               /img/clock4-tab@2x.png 2x">
                    <source media="(max-width: 375px)" srcset="/img/clock4-mob.png 1x, 
                                                                /img/clock4-mob@2x.png 2x">
                    <img class="portfolio-img" src="/img/clock4-desk.png" alt="Banking App">
                </picture>
                <div class="catalog-box">
                    <h3 class="catalog-name ellipsis">Garmin D2 Delta PX</h3>
                    <p class="catalog-price">€380</p>
                </div>
            </li>
            <li class="catalog-list hidden">
                <picture class="catalog-img">
                    <source media="(max-width: 1280px)" srcset="/img/clock5-desk.png 1x,
                                                                /img/clock5-desk@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="/img/clock5-tab.png 1x, 
                                                                /img/clock5-tab@2x.png 2x">
                    <source media="(max-width: 375px)" srcset="/img/clock5-mob.png 1x, 
                                                                /img/clock5-mob@2x.png 2x">
                    <img class="portfolio-img" src="/img/clock5-desk.png" alt="Banking App">
                </picture>
                <div class="catalog-box">
                    <h3 class="catalog-name ellipsis">Garmin Fenix 6 Pro Solar</h3>
                    <p class="catalog-price">€400</p>
                </div>
            </li>
            <li class="catalog-list  hidden">
                <picture class="catalog-img">
                    <source media="(max-width: 1280px)" srcset="/img/clock6-desk.png 1x,
                                                            /img/clock6-desk@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="/img/clock6-tab.png 1x, 
                                                            /img/clock6-tab@2x.png 2x">
                    <source media="(max-width: 375px)" srcset="/img/clock6-mob.png 1x, 
                                                            /img/clock6-mob@2x.png 2x">
                    <img class="portfolio-img" src="/img/clock6-desk.png" alt="Banking App">
                </picture>
                <div class="catalog-box">
                    <h3 class="catalog-name ellipsis">Tube Watch S42 Date Steel With Black Case</h3>
                    <p class="catalog-price">€395</p>
                </div>
            </li>
        </ul>
        <button class="catalog-button" type="button">Show more</button>
    </div>
</section>