<section class="contactus">
  <div class="container cont">
    <h2 class="contact-title">Contuct Us</h2>
    <div class="contact-data">
      <p class="contact-text-box">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-form" name="issue_contact_form" autocomplete="off">
        <div class="contact-inform">
          <label class="contact-form-label" for="user-name"></label>
          <input
            class="contact-form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
            required
          />
        </div>
        <div class="contact-inform">
          <label class="contact-form-label" for="user-email"></label>
          <input
            class="contact-form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
        </div>
        <div class="contact-inform">
          <label class="contact-form-label" for="user-tel"></label>
          <input
            class="contact-form-input"
            type="tel"
            name="user-tel"
            id="user-tel"
            placeholder="+380"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            title="(+380-XX-XXX-XX-XX)"
            required
          />
        </div>
        <div class="comment-box">
          <label class="contact-form-label" for="user-comment"></label>
          <textarea
            class="contact-form-comment"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="form-button" type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="contact-image">
    <picture>
      <source
        srcset="/img/contact-clock.png 1x, /img/contact-clock@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="/img/contact-clock-tab.png 1x, /img/contact-clock-tab@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/contact-clock-ph.png 1x, /img/contact-clock-ph@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="/img/contact-clock-ph.png" alt="watch on the stone" />
    </picture>
  </div>
</section>
