<section class="hero-section" id="home">
  <div class="container">
    <div class="container-main-icon">
      <h1 class="hero-main-text">
        Welcome to our <span class="span-hero-text">collection</span> of premium
        watches
      </h1>
      <div class="container-hero-icons">
        <ul class="hero-icons">
          <li class="icon">
            <img src="../img/team-icon1@2x.png" alt="Person 1" />
          </li>
          <li class="icon">
            <img src="../img/team-icon2@2x.png" alt="Person 2" />
          </li>
          <li class="icon">
            <img src="../img/team-icon3@2x.png" alt="Person 3" />
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-text-container">
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
      <a href="#footer" class="scroll-down">Scroll down</a>
    </div>
    <img class="hero-image" src="../img/rectangle-hero@2x.png" />
  </div>
</section>
