<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="../img/team-icon2.png 1x, ../img/team-icon2@2x 2x.png
          "
          src="../img/team-icon2.png"
          alt="John Wax"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-desc">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="../img/team-icon1.png 1x, ../img/team-icon1@2x 2x.png
          "
          src="../img/team-icon1.png"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-desc">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="../img/team-icon3.png 1x, ../img/team-icon3@2x 2x.png
          "
          src="../img/team-icon3.png"
          alt="Anastasia Trachuk"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-desc">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
