g<section class="section">
  <div class="container">
    <h2 class="section-sale-title">Sale</h2>
    <div class="section-sale-wrapper">
      <div class="section-sale-photo-wrapper">
        <ul class="section-sale-img-list">
          <li class="section-sale-img-item">
            <picture>
              <source
                srcset="/img/clock-sale1.png    1x, /img/clock-sale1@2x.png  2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/clock-sale-mob1.png    1x, /img/clock-sale-mob1@2x.png 2x"
                media="(max-width: 767px)"
              />
              <img
                src="/img/clock-sale-mob1.png"
                alt="Watch photo front view"
              />
            </picture>
          </li>
          <li class="section-sale-img-item">
            <picture>
              <source
                srcset="/img/clock-sale2.png    1x, /img/clock-sale2@2x.png"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/clock-sale-mob2.png    1x, /img/clock-sale-mob2@2x.png 2x"
                media="(max-width: 767px)"
              />
              <img
                src="/img/clock-sale-mob2.png"
                alt="Watch photo front view 2"
              />
            </picture>
          </li>
          <li class="section-sale-img-item">
            <picture>
              <source
                srcset="/img/clock-sale3.png    1x, /img/clock-sale3@2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/clock-sale-mob4.png    1x, /img/clock-sale-mob4@2x.png 2x"
                media="(max-width: 767px)"
              />
              <img src="/img/clock-sale-mob4.png" alt="Watch photo side view" />
            </picture>
          </li>
          <li class="section-sale-img-item">
            <picture>
              <source
                srcset="/img/clock-sale5.png   1x, /img/clock-sale5@2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/clock-sale-mob3.png    1x, /img/clock-sale-mob3@2x.png 2x"
                media="(max-width: 767px)"
              />
              <img src="/img/clock-sale-mob3.png" alt="Watch photo back view" />
            </picture>
          </li>
        </ul>
        <picture class="section-sale-img-preview">
          <source
            srcset="/img/clock-sale4.png 1x, /img/clock-sale4@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/clock-sale-mob5.png 1x, /img/clock-sale-mob5@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="/img/clock-sale-mob5.png" alt="Watch photo big" />
        </picture>
      </div>
      <div class="section-sale-description">
        <h3 class="section-sale-subtitle">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <span class="section-sale-tag">Product tag: 706587</span>
        <div class="section-sale-price">
          <span class="section-sale-new-price">&#8364;1500</span>
          <span class="section-sale-old-price">&#8364;3000</span>
        </div>
        <p class="section-sale-text-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="section-sale-block-list">
          <li class="section-sale-block-item">Fused carbon fiber</li>
          <li class="section-sale-block-item">Grade-5 Titanuim</li>
          <li class="section-sale-block-item">Athlete</li>
          <li class="section-sale-block-item">Golfer</li>
          <li class="section-sale-block-item">Commander</li>
          <li class="section-sale-block-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>