/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 65px;
  }
}
