.hero-section {
    padding-top: 80px;
    padding-bottom: 100px;
    border-top: 1px solid rgba(12, 12, 12, 0.1);
}
.container-main-icon {
    display: flex;
    justify-content: space-between;
}
.hero-main-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 0.875;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    max-width: 597px;
    padding-bottom: 20px;
}
.span-hero-text {
    color: #3350e9;
}
.hero-text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.hero-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    max-width: 480px;
}

.scroll-down {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    white-space: nowrap;
}
.scroll-down:hover {
    color: #3350E9;
}
.hero-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    margin-left: -17px;
    z-index: 1;
}

.hero-icons .icon:nth-child(2) {
    z-index: 2;
}

.hero-icons .icon:nth-child(3) {
    z-index: 3;
}
.background {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 50px;
    background-color: rgba(12, 12, 12, 0.2),;
    background-image: url(../img/rectangle-hero@2x.png);
    background-repeat: no-repeat;
}
@media (min-resolution: 192dpi) and (min-width: 1280px) {
    .background {
        background-image: url(../img/rectangle-hero@2x.png);
    }
}
@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px) {
    .background {
        background-image: url(../img/rectangle-hero@2x.png);
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .hero-main-text {
        font-weight: 600;
        font-size: 72px;
        line-height: 0.875;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }
    .icon {
        width: 56px;
        height: 56px;
        margin-left: -16px;
    }
    .hero-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
    }
    .hero-section {
        padding-bottom: 80px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .hero-section {
        padding-top: 60px;
    }
    .hero-main-text {
        font-weight: 600;
        max-width: 335px;
            font-size: 40px;
            line-height: 0.95;
            letter-spacing: -0.02em;
            color: #0c0c0c;
        }
    .hero-text {
        font-weight: 500;
        max-width: 335px;
            font-size: 14px;
            line-height: 1.28571;
            letter-spacing: -0.02em;
            color: rgba(12, 12, 12, 0.7);
            padding-bottom: 100px;
    }
    .hero-section {
        padding-bottom: 60px;
    }
        .container-hero-icons-scroll {
            position: relative;
            top: 366px;
            right: 189px;
        }
}